<div class="grid grid-col-3 w-96">
  <div class="col-span-3 p-2 border-2 border-gray-500 rounded-lg">
    ATENÇÃO:
  </div>
  <div class="col-span-3 mt-2 p-2 border-2 border-gray-500 rounded-lg text-lg">
    {{ data.message }}
  </div>
  <div class="col-span-3 flex justify-center mt-2 pt-2 border-2 border-gray-500 rounded-lg gap-2">
    <button
      (click)="snackBarRef.dismiss()"
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100
      focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800
      dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600
      dark:focus:ring-gray-700"
      type="button">
      NÃO
    </button>
    <button
      (click)="snackBarRef.dismissWithAction()"
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100
      focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800
      dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600
      dark:focus:ring-gray-700"
      type="button">
      SIM
    </button>
  </div>
</div>
