@if (customerStore.loaded() || installmentStore.loaded()) {
  <app-loader-spinner/>
}
<div class="relative min-h-screen bg-gray-100 dark:bg-gray-800">
  <!-- Navbar -->
  <app-header/>
  <mat-sidenav-container class="dark:bg-gray-800">
    <mat-sidenav
      #sidenav (screenChange)="computeSize($event)"
      [mode]="screenSignal.currenScreenSize() === 'small' ? 'over': 'side'"
      [opened]="sidebarSignal.sidebarOpen()"
      appScreenSize
      class="w-64 bg-gray-800 shadow-[0px_8px_10px_-5px_rgb(77_140_228),0px_16px_24px_2px_rgb(17_19_23),0px_6px_30px_5px_rgb(29_32_35_/_72%)]">

      <div class="flex flex-col gap-5 justify-center m-5">
        <button class="w-full" mat-flat-button routerLink="/login">Entrar</button>
        <button class="w-full" mat-flat-button routerLink="/customer">Novo Cliente</button>
        <button
          (click)="updateFilterCustomer({ query: '', status: false, page: 0, size: 10 })"
          class="w-full"
          mat-flat-button>
          Clientes
        </button>
        <button
          (click)="updateFilterInstallment({ query: '', status: false, page: 0, size: 10 })"
          class="w-full"
          mat-flat-button>Atendimentos
        </button>
        <button class="w-full" mat-flat-button routerLink="/home">Sair</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="bg-gray-800">
      <router-outlet/>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- Footer -->
  <app-footer/>
</div>

