<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8
            dark:bg-gray-800 dark:border-gray-700 my-20 mx-auto">
  <form (submit)="onSubmit()" [formGroup]="formInstallment" class="space-y-6">
    <h5 class="text-xl font-medium text-gray-900 dark:text-white">Cadastro de Atendimento</h5>

    @if (customerInfo) {
      <div class="flex flex-col text-gray-400 border dark:border-gray-700 rounded p-1">
        <span class="font-medium">
          Nome: {{ customerInfo.name }}
        </span>
        <span class="font-medium">
          CPF: {{ customerInfo.document }}
        </span>
      </div>
    }

    <div class="grid md:grid-cols-2 md:gap-20" formGroupName="installment">
      <div class="relative z-0 w-auto mb-5 group">
        <label class="sr-only" for="secretary">Selecione</label>
        <select
          (change)="utilService.getBadges(formInstallment.getRawValue().installment.secretary)"
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent dark:bg-gray-800
                border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-200 dark:border-gray-700
                peer dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
          formControlName="secretary"
          id="secretary">
          <option selected value="">Secretaria/Destino</option>

          @for (secretary of utilService.listSecretaries; track $index) {
            <option
              value="{{ secretary.description }}">
              {{ secretary.name }}
            </option>
          }

        </select>

        @if (formInstallment.controls.installment.get('secretary')?.invalid &&
             formInstallment.controls.installment.get('secretary')?.touched) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">
              * {{ formUtilService.getErrorMessage(formInstallment, 'installment', 'secretary') }}
            </span>
          </p>
        }

      </div>

      <div class="relative z-0 w-auto mb-5 group">
        <label class="sr-only" for="badge">Selecione</label>
        <select
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent dark:bg-gray-800
                border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-300 dark:border-gray-700
                peer dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600"
          formControlName="badge"
          id="badge">
          <option selected value="">Nº crachá</option>
          @for (badge of utilService.availableBadges; track $index) {
            <option value="{{ badge }}">{{ badge }}</option>
          }
        </select>
        @if (formInstallment.controls.installment.get('badge')?.invalid &&
             formInstallment.controls.installment.get('badge')?.touched) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">
              * {{ formUtilService.getErrorMessage(formInstallment, 'installment', 'badge') }}
            </span>
          </p>
        }
      </div>
    </div>

    <div class="flex justify-center">
      <button
        class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100
              focus:ring-2 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2
              dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700
              dark:hover:border-gray-600 dark:hover:text-gray-100 dark:focus:ring-gray-400"
        type="submit">
        SALVAR
      </button>
      <button
        class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100
              focus:ring-2 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2
              dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700
              dark:hover:border-gray-600 dark:hover:text-gray-100 dark:focus:ring-gray-400"
        routerLink="/customers"
        type="button">
        CANCELAR
      </button>
    </div>
  </form>
</div>

