<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8
            dark:bg-gray-800 dark:border-gray-700 my-20 mx-auto">
  <form (submit)="onSubmit()" [formGroup]="formInstallment" class="space-y-6">
    <h5 class="text-xl font-medium text-gray-900 dark:text-white">Cadastro de Atendimento</h5>

    @if (installmentStore.customerInfo()) {
      <div class="flex flex-col">
        <span class="font-medium text-white">
          Nome: {{ customerInfo.name }}
        </span>
        <span class="font-medium text-white">
          CPF: {{ customerInfo.document }}
        </span>
      </div>
    }

    <div class="grid md:grid-cols-2 md:gap-20" formGroupName="installment">
      <div class="relative z-0 w-auto mb-5 group">
        <label class="sr-only" for="secretary">Selecione</label>
        <select
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent dark:bg-gray-800
                border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-200 dark:border-gray-700
                focus:outline-none focus:ring-0 focus:border-gray-200 peer"
          formControlName="secretary"
          id="secretary">
          <option selected value="">Secretaria/Destino</option>
          @for (secretary of listSecretaries; track $index) {
            <option
              value="{{ secretary.description }}">
              {{ secretary.name }}
            </option>
          }
        </select>
        @if (formInstallment.controls.installment.get('secretary')?.invalid && formInstallment.touched) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">
              * {{ formUtilService.getErrorMessage(formInstallment, 'installment', 'secretary') }}
            </span>
          </p>
        }
      </div>

      <div class="relative z-0 w-auto mb-5 group">
        <label class="sr-only" for="badge">Selecione</label>
        <select
          class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent dark:bg-gray-800
                border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-200 dark:border-gray-700
                focus:outline-none focus:ring-0 focus:border-gray-200 peer"
          formControlName="badge"
          id="badge">
          <option selected value="">Nº crachá</option>
          @for (badge of listBadges; track $index) {
            <option value="{{ badge }}">{{ badge }}</option>
          }
        </select>
        @if (formInstallment.controls.installment.get('badge')?.invalid && formInstallment.touched) {
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">
              * {{ formUtilService.getErrorMessage(formInstallment, 'installment', 'badge') }}
            </span>
          </p>
        }
      </div>
    </div>

    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
            font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600
            dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="submit">
      Submit
    </button>
  </form>
</div>

