<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5 mx-5">
    <app-search (query)="onSearch($event)" />
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <caption
        class="p-5 text-lg text-center rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
        Lista de Clientes
      </caption>
      <thead
        class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="px-6 py-3" scope="col">
          Nome
        </th>
        <th class="px-6 py-3" scope="col">
          CPF
        </th>
        <th class="px-6 py-3 text-center" scope="col">
          Opções
        </th>
      </tr>
      </thead>
        <tbody>
          @for (customer of customerStore.listCustomers(); track customer.id) {
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th class="px-4 py-1.5 font-medium text-gray-900 whitespace-nowrap dark:text-white" scope="row">
                {{ customer.name }}
              </th>
              <td class="px-4 py-1.5">
                {{ customer.document }}
              </td>
              <td class="px-4 py-1.5 text-right">
                <button (click)="onDeleteCustomer(customer.id!)" class="font-medium text-red-600 dark:text-red-500 hover:underline">
                  Excluir
                </button>
                <button (click)="onAddInstallment(customer)"
                        class="font-medium text-gray-600 dark:text-gray-200 hover:underline ml-10">
                  Adicionar atendimento
                </button>
              </td>
            </tr>
          } @empty {
            <td class="p-3 text-white font-semibold">Nenhum cadastro encontrado!</td>
          }
        </tbody>
    </table>
    <mat-paginator
      (page)="refresh($event)"
      [length]="customerStore.totalElements()"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[1, 5, 10]"
      [pageSize]="pageSize"
      aria-label="Selecione a página de atendimento"
      showFirstLastButtons="true">
    </mat-paginator>
  </div>
